/*
        FONTS
*/
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Arbutus+Slab&family=Playfair+Display&family=Bebas+Neue&family=Otomanopee+One&family=Uchen&family=Cedarville+Cursive&family=Anton&display=swap');

.bebasfont{font-family: Bebas Neue;}
.playfairfont{font-family: Playfair Display;}
.otomanopeefont{font-family: Otomanopee One;}
.uchenfont{font-family: Uchen;}
.cursivefont{font-family: Cedarville Cursive;}
.antonfont{font-family: Anton;}
.arbutusslabfont{font-family: Arbutus Slab;}

/*
        MAIN
*/
.maincontainer{
    background-color: #fdfdfd;
}

.carouselbuttons > button{
    background-color: #54b8b7 !important;
    height: 15px!important;
    width: 15px!important;
    border-radius: 50% !important; 
}

.carousel-content {
    position: absolute;
    top: 15%;
    left: 15%;
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
  }

.carouselpic{
    filter: brightness(60%);
}

.card-body > .btn{
    background-color: #a82424;
    border: black;
}

.shadowText{
    text-shadow: 10px 3px black;
}


/*  FOOTER */
.footer{
    background-color: black;
    color: white;
}

.footer .card-text{
    font-size: 15px;
}

/* NAVBAR */
.navbar{
    font-weight: bold;
    font-size: 13px; 
}

.nav-link{
    color: black !important;
    transition: all 0.25s;
}

.nav-link::after{
    content: "";
    position: absolute;
    background-color: black;
    height: .5px;
    width: 0;
    left: 0;
    bottom: -0.5px;
    transition: 0.3s;
}

.nav-link:hover{
    color: skyblue !important;
    transform: scale(1.25);
}

.nav-link:hover::after{
    width: 100%;
}

.searchbar{
    width: 250px !important;
    font-size: 13px;
}

.searchbutton{
    margin-left: -2.75rem;
}

/*
        OTHERS
*/

a {color: inherit; text-decoration: none;} 

body{
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("assets/resized/bg.jpg") fixed no-repeat; 
    background-size: auto;
}

.longdiv{width: 100%; height: 15px;}

.menurow{margin-bottom: 100px;}