/*
        FONTS
*/

@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Kaushan+Script&family=Gagalin&family=Lora&family=Battambang&family=Arapei&family=Caveat&family=Arbutus+Slab&family=Playfair+Display&family=Bebas+Neue&family=Otomanopee+One&family=Uchen&family=Cedarville+Cursive&family=Anton&display=swap');
@font-face {
    font-family: Gagalin;
    src: url('assets/fonts/Gagalin-Regular.ttf');
  }
  @font-face {
    font-family: Playlist;
    src: url('assets/fonts/Playlist Script.otf');
  }
.bebasfont{font-family: Bebas Neue;}
.playfairfont{font-family: Playfair Display;}
.otomanopeefont{font-family: Otomanopee One;}
.uchenfont{font-family: Uchen;}
.cursivefont{font-family: Cedarville Cursive;}
.antonfont{font-family: Anton;}
.arbutusslabfont{font-family: Arbutus Slab;}
.caveatfont{font-family: Caveat;}
.arapeifont{font-family: Arapei;}
.battambangfont{font-family: Arapei;}
.lorafont{font-family: Lora;}
.gagalinfont{font-family: Gagalin;}
.kaushanfont{font-family: Kaushan Script;}
.hammersmithfont{font-family: Hammersmith One;}
.playlistfont{font-family: Playlist;}





/*
        MAIN
*/



/* ----------BACKGROUNDS---------- */

.productpage{   
    background: url("assets/tiles.png") fixed no-repeat center;
    background-size: cover;
}
.homepage{
    background: url("assets/logopattern.png") fixed;
    background-size: contain;
}
.bestsellers{
    background: url("assets/bestseller.png") fixed no-repeat center;
    background-size: cover;
    border: gray solid 1px;
}



/* ----------CAROUSEL---------- */
.carousel-indicators{z-index: 29; }

.carouselbuttons > button{
    background-color: #54b8b7 !important;
    height: 1.5vw!important;
    width: 1.5vw!important;
    border-radius: 50% !important;
}

.carousel-content {
    position: absolute;
    top: 5%;
    left: 10%;
    z-index: 2;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
  }

.carousel-content h1 {
    color: black;
    font-size: 60px;
    margin-top: .75em;
    margin-left: -.5em;
    font-weight: lighter;
}

.carouselpic{
    object-fit: cover;
    object-position: center;
    filter: brightness(60%);
    width: 100%;
    height: 35em;
}

.splashpaint{
    position: absolute;
    z-index: -1;
    height: 9em;
    background: transparent;
    transform: rotate(27deg);
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .carouselpic{height: 40em}
    .carousel-content h1 {font-size: 80px;}
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .carouselpic{height: 45em}
}



/* ----------CARD---------- */

.cardbtn{
    color: white;
    background-color: #a82424;
    border: black;
    transition: all 0.25s;
}

.cardbtn:hover{
    color: white !important;
    transform: scale(1.05);
}

.card-img{object-fit: cover;}
.cardicon{font-size: 1.5em; transition: all 0.25s;}
.cardicon:hover{transform: scale(1.25);}



/*  ----------FOOTER---------- */
.footer{
    background-color: black;
    color: white;
}

.footer .card-text{font-size: 15px;}



/* ----------NAVBAR---------- */
.navbar{
    font-size: 1rem; 
    padding: 0;
}

.nav-link{
    color: black !important;
    transition: all 0.25s;
}

.nav-link::after{
    content: "";
    position: absolute;
    background-color: black;
    height: .5px;
    width: 0;
    left: 0;
    bottom: -0.5px;
    transition: 0.3s;
}

.nav-link:hover{
    transform: scale(1.15);
}

.searchbar{
    border: 1.5px solid #9aa7b2 !important;
    box-shadow: 4px 4px 2px #9aa7b2;
    width: 225px !important;
    font-size: 13px;
    border-radius: 12.5px;
    font-family:'Hammersmith One', sans-serif, FontAwesome;
}

.nav-link:hover::after{width: 100%;}
.navicon{font-size: 1rem;}






/*
        OTHERS
*/

.redtext{color: #a72321}
.redbg{background-color: #a72321}

.favorite{color: black}
.favorite:hover{color: #a72321}
.unfavorite{color: #a72321}
.unfavorite:hover{color: black}

.shadowText{text-shadow: 10px 3px black;}

a {color: inherit; text-decoration: none;}

.longdiv{width: 100%; height: 15px;}

.h1style{color: #ffc372; text-shadow: 3px 3px 3px black;}